.header{
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 50vh;
	position: relative;
}

.text-primary {
	text-decoration: none;
}

h2 {
	color: #157347;
}


.col-md-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.img-fluid {
	width: 100%;
	height: 100%;
}

.avatar-img {
	width: 200px;
	height: 200px;
	border: 1px solid #157347;
	border-radius: 50%;
}